# =========================
# Angular
# =========================
node_modules/
dist/
.angular/
*.log

# =========================
# Spring Boot / Java
# =========================
target/
*.class

# =========================
# STS / Eclipse
# =========================
.metadata/
.classpath
.project
.settings/
.springBeans

# =========================
# IntelliJ
# =========================
.idea/
*.iml

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment / Secrets
# =========================
application.properties